<nav class="navbar">
  <div class="navbar-container">
    <ul class="nav-menu">
      <li class="nav-item">
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
      </li>
      <li class="nav-item">
        <a routerLink="/data-list" routerLinkActive="active">Data List</a>
      </li>
      <li class="nav-item">
        <a routerLink="/component1" routerLinkActive="active">Component 1</a>
      </li>
      <li class="nav-item">
        <a routerLink="/component2" routerLinkActive="active">Component 2</a>
      </li>
    </ul>
  </div>
</nav>
